@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* In your global CSS or Tailwind config override */
.Toastify__toast-container {
    z-index: 99999 !important;
  }
  

@keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }


  @keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }


  /* Hide default password eye icon in Microsoft Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Hide default password eye icon in Chrome, Safari (WebKit browsers) */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  appearance: none;
}